<ngx-pull-to-refresh spinnerColor="#ff0000"
                     distanceForRefresh="100"
                     [isEnable]="true"
                     [targetElement]="targetElement"
                     (refresh)="refreshForecasts($event)"
                     style="display:block;height:25%;">

  <h1 id="tableLabel">Weather forecast</h1>

  <p>This component demonstrates fetching data from the server.</p>

  <p *ngIf="!forecasts"><em>Loading...</em></p>


  <div class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
      <div *ngFor="let forecast of forecasts">
        <div class="card">
          <div class="card-header">{{ moment(forecast.applicable_date).format('MM/DD/YYYY') }}<img style="width: 30px" [src]='"https://www.metaweather.com/static/img/weather/png/" + forecast.weather_state_abbr + ".png"' /></div>
          <div class="card-body">{{ forecast.weather_state_name }}</div>
        </div>
      </div>
  </div>
</ngx-pull-to-refresh>
